<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"/>
<link rel="stylesheet" type="text/css" href="/styles.css">

  <title>About Us</title>
</head>
<body>
  <header>
    <nav>
      <a href ="/">Home<a>
      <a href ="/about">About<a>
      <a href ="/services">Services<a>
      <a href ="/moreInfo">More Information<a>
      <a href ="/ourTeam">Meet Our Team<a>
      <a href ="/contactUs">Contact Us<a>
      </nav>
    </header>

    <h1>About The Company</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus, eos repellendus adipisci a at ratione molestiae id impedit dolorum illo sunt recusandae corrupti maxime rem, deleniti delectus magnam tempora dignissimos fugiat, labore eaque! Voluptatum aliquam pariatur non unde nisi ex? Praesentium aperiam delectus nemo corrupti sequi saepe soluta perspiciatis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit inventore possimus eaque blanditiis adipisci ipsa nisi sint error sed officiis sunt voluptates nostrum dolorem laboriosam quidem eius provident alias eum voluptatem, amet nobis ut nam. Laboriosam harum sunt blanditiis doloremque saepe id excepturi optio debitis tenetur nostrum deleniti quis eius magni nesciunt corrupti impedit molestiae rerum quae, deserunt cumque! Dolores omnis minima obcaecati nihil, distinctio maxime quos fugit cum vel ex nobis iure facilis! Suscipit culpa, eveniet, quas illum repudiandae fugiat nesciunt eos nobis eligendi libero harum neque molestiae, quaerat tenetur quo quasi expedita adipisci ad? Itaque, quam esse!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quae magni perferendis ipsam sapiente. Minima minus, veritatis dolorum corrupti magnam quia in aliquam provident eos vitae fugiat necessitatibus totam iusto fuga libero tenetur! Tenetur cupiditate maxime qui, corrupti tempora perspiciatis dolores fugiat deleniti facere sapiente in temporibus vero nulla ratione at nam. Eveniet perspiciatis ducimus quasi natus magni consequatur iusto porro consequuntur quo rem commodi, voluptatibus expedita officia dolor molestiae laboriosam, assumenda tenetur vitae id!</p>
</body>
</html>