<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"/>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Contact Us</title>
</head>
<body>
  <header>
    <nav>
      <a href ="/">Home<a>
      <a href ="/about">About<a>
      <a href ="/services">Services<a>
      <a href ="/moreInfo">More Information<a>
      <a href ="/ourTeam">Meet Our Team<a>
      <a href ="/contactUs">Contact Us<a>
      </nav>
    </header>
    <h1>Contact Us</h1>
    <h3>Location 1</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quibusdam a, repellendus veniam voluptate itaque.</p>
    <h3>Location 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe impedit dolores quaerat blanditiis sit minima?
    </p>
    <h3>Location 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsam enim obcaecati, dicta laborum veniam.</p>
</body>
</html>