<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
/>
  <title>Meet Our Team</title>
</head>
<body>
  <header>
    <nav>
      <a href ="/">Home<a>
      <a href ="/about">About<a>
      <a href ="/services">Services<a>
      <a href ="/moreInfo">More Information<a>
      <a href ="/ourTeam">Meet Our Team<a>
      <a href ="/contactUs">Contact Us<a>
      </nav>
    </header>
    <h1>Meet our Team</h1>
    <h3>Person 1</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nobis excepturi, suscipit quaerat recusandae laudantium voluptate harum in maiores esse hic magni totam quo adipisci fugiat unde, rem quam minima. Rerum temporibus asperiores, doloribus dolorem beatae nostrum officia reprehenderit laboriosam iste. Quo optio quae molestias saepe explicabo repudiandae ea a?
    </p>
    
    <h3>Person 2</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur earum doloribus quas quis pariatur aperiam eius ipsam, libero temporibus, soluta aut praesentium deserunt laborum quia unde provident suscipit commodi vitae aliquid? Saepe nihil adipisci dolorum eum voluptatem pariatur debitis accusantium.</p>
    
    <h3>Person 3</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur earum doloribus quas quis pariatur aperiam eius ipsam, libero temporibus, soluta aut praesentium deserunt laborum quia unde provident suscipit commodi vitae aliquid? Saepe nihil adipisci dolorum eum voluptatem pariatur debitis accusantium.</p>
    
    <h3>Person 4</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur earum doloribus quas quis pariatur aperiam eius ipsam, libero temporibus, soluta aut praesentium deserunt laborum quia unde provident suscipit commodi vitae aliquid? Saepe nihil adipisci dolorum eum voluptatem pariatur debitis accusantium.</p>
    
</body>
</html>