<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
/>
  <title>Services</title>
</head>
<body>
  <header>
    <nav>
      <a href ="/">Home<a>
      <a href ="/about">About<a>
      <a href ="/services">Services<a>
      <a href ="/moreInfo">More Information<a>
      <a href ="/ourTeam">Meet Our Team<a>
      <a href ="/contactUs">Contact Us<a>
      </nav>
    </header>
    <h1>Our Services</h1>
    <h3>Service 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nam sapiente. Fugit enim odit explicabo labore, quam quidem quis aperiam.</p>
    
    <h3>Service 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias placeat iste, distinctio tempora quae non facere atque earum, expedita animi temporibus cum! Expedita, obcaecati distinctio.</p>
    
    <h3>Service 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nam sapiente. Fugit enim odit explicabo labore, quam quidem quis aperiam.</p>
    
    <h3>Service 4</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias placeat iste, distinctio tempora quae non facere atque earum, expedita animi temporibus cum! Expedita, obcaecati distinctio.</p>
    


</body>
</html>